@model User
<div class="card-body">
    <h5 class="card-title">User Form</h5>

    <!-- Vertical Form -->
    <form class="row g-3" asp-controller="User" asp-action="UserSave">
        <input type="hidden" name="UserID" asp-for="UserID"/>
        <div class="col-12">
            <label for="inputNanme4" class="form-label">User Name</label>
            <input type="text" asp-for="UserName" class="form-control" id="inputNanme4">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="col-12">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" asp-for="Email" class="form-control" id="inputEmail4">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-12">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" asp-for="Password" class="form-control" id="inputPassword4">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">MobileNo</label>
            <input type="text" asp-for="MobileNo" class="form-control" id="inputAddress">
            <span asp-validation-for="MobileNo" class="text-danger"></span>
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" asp-for="Address" class="form-control" id="inputAddress">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">ISActive</label>
            <input type="checkbox" asp-for="IsActive">
            <span asp-validation-for="IsActive" class="text-danger"></span>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-action="Index" asp-controller="User" class="btn btn-secondary">Cancel</a>
        </div>
    </form><!-- Vertical Form -->

</div>